* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #222222;
    color: white;
}

a {
    cursor: pointer;
    color: white;
}

ul {
    margin: 5px;
}

li {
    margin-left: 15px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Press Start 2P', cursive;
    margin:20px 0;
}

#about h1, #about h2, #about h3, #about h4, #about h5, #about qh6 {
    display:inline-block;
}

#about {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.controller {
    border-top: 2px solid yellowgreen;
    padding-top:20px;
    margin-top: 50px;
    margin-left: 50px;
    width:300px;
    display:inline-block;
    text-align:center;
}

.controllernumbers {
    margin:10px auto;
    display:inline-block;
}

.controllernumber {
    background-color: #aaaaaa;
    display: inline-block;
    width:15px;
    height:15px;
    margin-right:2px;
}

.activecontroller {
    background-color: greenyellow;
}

.controllernumbers.disconnected .activecontroller {
    background-color: red;
}

.icons {
    margin: 10px auto;
}

.icons svg {
    fill: white;
    width:40px;
    height:40px;
    margin: 0 3px;
}

.icons svg.iconon {
    fill: greenyellow;
}

.pitchsnapscale {
    display:inline-block;
    margin: 0 auto;
}